<div class="logintext">
    <!-- <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon> -->
    <h3>NOTIFICATIONS</h3>
</div>

<div style="text-align: center; padding-left: 1em; padding-right: 1em; margin-top: 5em;">
    <mat-card>
        <h4>This is my first notification</h4>
    </mat-card>
</div>

<div style="text-align: center; padding-left: 1em; padding-right: 1em; padding-top: 2px;">
    <mat-card>
        <h4>This is my second notification</h4>
    </mat-card>
</div>