.logintext{
    
    text-align: center;
    background-color:#3F51B5 ;
    padding-top: 2px;
    padding-bottom:0px;
    color: white;
    margin-top: -1px;
    height: 2.5em;
z-index: 1;
    position: fixed;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
 
}
.login-content{
    text-align: center;
}

.input-text{
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
}