<!-- <mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" >Sidenav
    <button (click)="sidenav.toggle()">Tog</button>
  </mat-sidenav>
  <mat-sidenav-content>Main
    <button (click)="opened=!opened">Tog</button>
    <button (click)="sidenav.toggle()">Tog</button>
  </mat-sidenav-content>
</mat-sidenav-container> -->

<!-- <app-splash-screen  ></app-splash-screen> -->
<mat-toolbar color="primary" class="toolbar" >
<mat-toolbar-row>
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    style="top: -5px;"
     class="btn">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
 <h1 >My Shops</h1>
 <span class="example-spacer"></span>
<button mat-icon-button class="example-icon favorite-icon btn"   >
  <mat-icon>notifications</mat-icon>
</button>
<button mat-icon-button class="example-icon btn"  >
  <mat-icon>shopping_cart</mat-icon>
</button>
</mat-toolbar-row>
</mat-toolbar>


<app-main-nav>

</app-main-nav>

<!--Search box ekak-->
<!-- 
  <div class="input-group ">
    <span class="input-group-prepend  ">
      <div class="input-group-text bg-white border-right-0  "><i class="fa fa-search"></i></div>
  </span>
    <input class="form-control py-2  mr-1 pr-5 " type="text" placeholder="Search">
</div> -->

 
<router-outlet>
</router-outlet>

<!--Boottom nav eka-->
<mat-toolbar class="toolbarNav" >

  <button mat-icon-button (click)="home()" class="btn example-icon">
    <mat-icon class="material-icon color_blue " >home</mat-icon>
  </button>

  <button mat-icon-button (click)="addnew()"  class="btn example-icon">
    <mat-icon class="material-icon color_blue">control_point</mat-icon>
  </button>

  <button mat-icon-button (click)="profile()" class="btn example-icon" >
    <mat-icon class="material-icon color_blue">persony</mat-icon>
  </button>
 
</mat-toolbar>
