.logintext{
    text-align: center;
    background-color:#3F51B5 ;
   margin-top: -1px;
   padding-bottom:0px;
    padding-top: 10px;
    color: white;

    position: fixed;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.login-content{
    text-align: center;
}

::ng-deep .blue-snackbar {
    background: white;
    color: green;
    margin:auto;
    text-align: center !important;
   
  }

 .center-snackbar {
    margin: auto;
  text-align: center;
  }
.input-text{
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
}